In [18]:
# imports
import re
import pandas as pd

In [87]:
# constants
LOC_DATA = "./data"
CHAT_FILENAME = "/chat_{}.txt"

MEDIA = 'media_shared'
DELETED = 'deleted_message'
CELINE = 'Celine'
SAM = 'Sam'

emoji_pat = r'(\u00a9|\u00ae|[\u2000-\u3300]|\ud83c[\ud000-\udfff]|\ud83d[\ud000-\udfff]|\ud83e[\ud000-\udfff])'

what_pat = r'(\d+/\d+/\d+, \d+:\d+\d+ [A-Z]*) - (.*?): (.*)'
# celine_pat = re.compile('Celine.*'+emoji_pat)
# sam_pat = re.compile('Sam.*'+emoji_pat)

col_chat = ['date', 'name', 'msg']

re.compile('Celine.*(\\u00a9|\\u00ae|[\\u2000-\\u3300]|\\ud83c[\\ud000-\\udfff]|\\ud83d[\\ud000-\\udfff]|\\ud83e[\\ud000-\\udfff])')

In [95]:
def to_df(msg):
    h = pd.DataFrame(msg, columns=col_chat)
    h['date'] = pd.to_datetime(h['date'], format="%m/%d/%y, %I:%M %p")
    h['name'] = h['name'].str.replace('Celine.*', CELINE)
    h['name'] = h['name'].str.replace('Sam.*', SAM)
    h['msg'] = h['msg'].replace('<Media omitted>', MEDIA)
    h['msg'] = h['msg'].replace('This message was deleted', DELETED)
    return h

def read_whatsapp(file_name):
    with open(filename, encoding='utf-8') as f:
        messages = re.findall(what_pat, f.read())
        f.close()
        
    return to_df(messages)

In [98]:
# read txt files
df = pd.DataFrame(columns=col_chat)
for i in range(3):
    filename = LOC_DATA + CHAT_FILENAME.format(i)
    tmp = read_whatsapp(filename)
    df = pd.concat([df, tmp], axis=0, ignore_index=True)
    
df.head()

,date,name,msg
0,2018-09-26 12:17:00,Celine,Heyo
1,2018-09-26 12:18:00,Sam,l'Ornithorynque is where I'm going to eat
2,2018-09-26 12:27:00,Celine,"Coming! There's so many ppl, so I'll pay later"
3,2018-09-26 21:40:00,Sam,http://aumc.epfl.ch/index.php/les-salles-de-mu...
4,2018-09-26 21:40:00,Sam,This is the music association I was talking about

In [100]:
df.describe()

                       date   name           msg
count                 27594  27594         27594
unique                17107      2         23841
top     2019-08-02 22:50:00    Sam  media_shared
freq                    122  14852          2367
first   2018-09-26 12:17:00    NaN           NaN
last    2019-08-19 00:39:00    NaN           NaN